@charset "UTF-8";
/**
create by : Jérémie Permentier
|
|
|___styles
    |____ reset
    |____ custom // styles creater for the application   
    |____ fonts
    |____ background
    |____ layout
*/
/*********************\
        reset
\*********************/
body, p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  appearance: none;
  border: none;
}

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.subscription__title, .partners__title, .shop__title, .emrys__title, .about__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.shop__subtile, .about__subtile {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.footer__title {
  font-size: 1.15rem;
  font-weight: bold;
}

/*********************\
        Fonts
\*********************/
body, a {
  font-family: "Josefin Sans", sans-serif;
}

/*********************\
        Background
\*********************/
header {
  background: #68b0ab;
  background: linear-gradient(179deg, #68b0ab 5%, #446df6 100%);
}

.about {
  background-color: #446DF6;
}

/*********************\
        Layout
\*********************/
body {
  max-width: 1920px;
}

.container {
  max-width: 1600px;
  margin: auto;
}

/*********************\
        Nav
\*********************/
.menuNav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
.menuNav__logo {
  color: #F2F7F2;
  font-size: 18px;
  font-weight: bold;
}
.menuNav__container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.menuNav__toggle {
  display: none;
}
.menuNav__link {
  color: #F2F7F2;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
}

.animation-underline {
  position: relative;
}
.animation-underline:after, .animation-underline:before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 0;
  background-color: #282828;
  pointer-events: none;
}
.animation-underline.light:after, .animation-underline.light:before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 0;
  background-color: #fff;
  pointer-events: none;
}
.animation-underline:before {
  left: 0;
  -webkit-transition: width 0s cubic-bezier(0.42, 0.12, 0.31, 0.99);
  transition: width 0s cubic-bezier(0.42, 0.12, 0.31, 0.99);
}
.animation-underline:after {
  right: 0;
  -webkit-transition: width 0.4s cubic-bezier(0.42, 0.12, 0.31, 0.99);
  transition: width 0.4s cubic-bezier(0.42, 0.12, 0.31, 0.99);
}
.animation-underline:hover:before {
  width: 100%;
  -webkit-transition: width 0.4s cubic-bezier(0.42, 0.12, 0.31, 0.99);
  transition: width 0.4s cubic-bezier(0.42, 0.12, 0.31, 0.99);
}
.animation-underline:hover:after {
  width: 100%;
  background: 0 0;
  -webkit-transition: all 0s cubic-bezier(0.42, 0.12, 0.31, 0.99);
  transition: all 0s cubic-bezier(0.42, 0.12, 0.31, 0.99);
}

@media screen and (min-width: 600px) and (max-width: 1600px) {
  .menuNav {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 600px) {
  .menuNav__logo {
    padding-left: 1rem;
  }
  .menuNav__container {
    position: absolute;
    flex-direction: column;
    width: 100%;
    top: 60px;
    background-color: #ffffffe1;
    transform: translateX(-600px);
  }
  .menuNav__container--open {
    animation: open 500ms ease both;
  }
  .menuNav__container--close {
    animation: close 500ms ease;
  }
  .menuNav__toggle {
    display: block;
    margin-inline: 1rem;
  }
  .menuNav__toggle > span {
    width: 2rem;
    height: 5px;
    margin-block: 5px;
    background: #F2F7F2;
    display: block;
  }
  .menuNav__link {
    color: #333;
    margin: 1rem;
  }
}
@keyframes open {
  0% {
    transform: translateX(600px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes close {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(600px);
  }
}
/*********************\
        Hero
\*********************/
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 95vh;
  color: #F2F7F2;
}
.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hero__button {
  margin: 1rem 1rem 0 0;
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #000;
  border-radius: 1.5rem;
  background: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.hero__button:hover {
  background-color: transparent;
  transition: 500ms;
}
.hero__button--color {
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  background: transparent;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.hero__button--color:hover {
  background-color: #fff;
  transition: 500ms;
}
.hero__button--color:hover > .hero__link--color {
  color: #000;
}
.hero__link--color {
  color: #fff;
}
.hero__img {
  position: relative;
}
.hero__back {
  animation: backRotate 180s infinite both;
}
.hero__pig {
  position: absolute;
  left: 2rem;
  top: 3rem;
}

@keyframes backRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .hero__back {
    width: 325px;
  }
  .hero__pig {
    left: -1rem;
    top: 0rem;
    width: 325px;
  }
}
@media screen and (max-width: 600px) {
  .hero {
    height: 100vh;
  }
  .hero__container {
    text-align: center;
    padding-block: 3rem;
  }
  .hero__title {
    font-size: 2rem;
  }
  .hero__text {
    font-size: 1rem;
  }
  .hero__img {
    max-width: 70%;
  }
  .hero__back, .hero__pig {
    width: 100%;
  }
  .hero__pig {
    left: 0rem;
    top: 1rem;
  }
}
/*********************\
        About
\*********************/
.about {
  color: #F2F7F2;
}
.about__title {
  max-width: 1600px;
  margin: auto;
  position: relative;
}
.about__title:after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 1.5rem;
}
.about__container {
  padding: 5rem;
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.about__card {
  text-align: center;
}
.about__icon {
  margin-bottom: 1.5rem;
}
.about__subtile {
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) and (max-width: 1600px) {
  .about__title {
    padding: 0 1rem;
  }
  .about__title:after {
    left: 1rem;
  }
  .about__container {
    padding-inline: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .about__container {
    display: flex;
    flex-wrap: wrap;
    padding: inherit;
  }
  .about__title {
    max-width: 320px;
  }
  .about__card {
    padding-block: 1rem;
  }
}
/*********************\
        Emrys
\*********************/
.emrys {
  background: url(./img/divider.svg);
  background-repeat: no-repeat;
}
.emrys__title {
  color: #284092;
  padding: 4rem 0 2rem 0;
}
.emrys__text {
  height: 150px;
  margin: 2rem 0;
  padding: 1rem;
  border-left: 4px solid #284092;
  position: absolute;
  opacity: 0;
}
.emrys__container {
  display: flex;
  margin: 1rem 1rem 5rem 1rem;
}
.emrys__control {
  position: relative;
  height: 3rem;
  margin: 0 2.5rem;
}
.emrys__button {
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  z-index: 2;
}
.emrys__button--shadow {
  width: 3rem;
  height: 3rem;
  background-color: #284092;
  border-radius: 0.5rem;
  position: absolute;
  top: -4px;
  left: 4px;
  z-index: 1;
  transform: rotate(0deg);
}
.emrys__button:hover ~ .emrys__button--shadow {
  transform: rotate(-360deg);
  transition: transform 0.75s;
}

.active:after {
  content: " ";
  position: absolute;
  background-color: #284092;
  width: 1rem;
  height: 5px;
  border-radius: 4px;
  top: 50px;
  left: 14.5px;
}

.activeContent {
  position: static;
  animation: fade 0.5s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.part {
  background-color: #68B0AB;
}

.tree {
  background-color: #446DF6;
}

.card {
  background-color: #CFA6F0;
}

@media screen and (max-width: 600px) {
  .emrys__container {
    display: flex;
    margin: 0;
  }
  .emrys__title {
    max-width: 320px;
    margin: auto;
  }
  .emrys__text {
    height: 200px;
  }
  .emrys__control {
    margin: 0 2rem;
  }
}
/*********************\
        Shop
\*********************/
.shop {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 47vh;
}
.shop__img-shop {
  border: 8px solid #68B0AB;
  border-left: 0;
  border-radius: 0px 10px 10px 0;
  position: absolute;
  z-index: 2;
}
.shop__img-dot {
  position: absolute;
  left: 16rem;
  top: 3rem;
  z-index: 1;
}
.shop__card {
  width: 55vw;
}
.shop__title {
  color: #284092;
  margin-bottom: 2rem;
}
.shop__description {
  padding-left: 5rem;
}
.shop__subtile {
  color: #284092;
  margin-bottom: 1rem;
}
.shop__text {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
  .shop__img-shop {
    width: 400px;
  }
  .shop__img-dot {
    width: 200px;
    left: 15rem;
    top: 6rem;
  }
}
@media screen and (max-width: 950px) {
  .shop__img-shop {
    width: 300px;
  }
  .shop__img-dot {
    width: 150px;
    left: 12rem;
    top: 6rem;
  }
}
@media screen and (max-width: 740px) {
  .shop {
    display: block;
    height: inherit;
  }
  .shop__container {
    height: 15rem;
    padding: 3rem 0 0 0;
  }
  .shop__img-shop {
    width: 250px;
  }
  .shop__img-dot {
    left: 8rem;
    top: 5.5rem;
    width: 150px;
  }
  .shop__title {
    max-width: 320px;
    margin: auto auto 2rem auto;
  }
  .shop__card {
    width: inherit;
  }
  .shop__description {
    padding: 0;
    margin: 0 1rem;
  }
}
/*********************\
        Partners
\*********************/
.partners {
  max-width: 1000px;
  color: #F2F7F2;
  margin: 5rem auto;
}
.partners__card {
  display: flex;
  border-radius: 10px;
  background: #68b0ab;
  background: linear-gradient(346deg, #68b0ab 39%, #446df6 100%);
}
.partners__content {
  padding: 2rem;
  text-align: right;
}
.partners__title {
  margin-bottom: 1.5rem;
  text-align: left;
}
.partners__text {
  margin-bottom: 1rem;
  text-align: left;
}
.partners__button {
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  background: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.partners__button:hover {
  background-color: transparent;
  transition: 500ms;
}
.partners__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto;
}
.partners__square {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  .partners__card {
    display: block;
  }
  .partners__square {
    width: 100%;
    height: 125px;
  }
  .partners__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
/*********************\
        Subscribe
\*********************/
.subscription {
  background: #68b0ab;
  background: linear-gradient(346deg, #68b0ab 39%, #446df6 100%);
  padding: 2rem 2rem 3rem 2rem;
}
.subscription__title {
  color: #fff;
  padding-bottom: 1rem;
  position: relative;
}
.subscription__title:after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 1.5rem;
}
.subscription__back {
  width: 900px;
  height: 200px;
  border-radius: 5px;
  background-color: #ffffff70;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription__button {
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  background: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.subscription__button:hover {
  background-color: transparent;
  transition: 500ms;
}

@media screen and (max-width: 1000px) {
  .subscription__back {
    width: 100%;
  }
}
/*********************\
        footer
\*********************/
.footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
}
.footer__title {
  position: relative;
}
.footer__title:after {
  content: "";
  width: 3rem;
  height: 0.3rem;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 1.5rem;
}
.footer__container {
  max-width: 1550px;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  padding-top: 2rem;
}
.footer__button {
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  background: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
}
.footer__button:hover {
  background-color: transparent;
  transition: 500ms;
}
.footer__button:hover > .footer__email {
  color: #fff;
}
.footer__info {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.footer__item {
  margin-top: 1rem;
}
.footer__link {
  color: #fff;
}
.footer__coopyright {
  text-align: center;
}

@media screen and (max-width: 600px) {
  .footer__container {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
