/**
create by : Jérémie Permentier
|
|
|___styles
    |____ reset
    |____ custom // styles creater for the application   
    |____ fonts
    |____ background
    |____ layout
*/

/*********************\
        reset
\*********************/

body, p, h1, h2, h3, h4, h5, h6, ul{
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

button {
    appearance: none;
    border: none;
}

@import 'partials/variables.scss';
@import 'partials/mixins.scss';
@import 'partials/placeholders.scss';

/*********************\
        Fonts
\*********************/

body, a{
    font-family: 'Josefin Sans', sans-serif;
}
/*********************\
        Background
\*********************/

header{
    background: rgb(104,176,171);
    background: linear-gradient(179deg, #68b0ab 5%, #446df6 100%);
}
.about {
    background-color: $colorPrimary;
}

/*********************\
        Layout
\*********************/

body {
    max-width: 1920px;
}

.container {
    max-width: 1600px;
    margin: auto;
}

/*********************\
        Nav
\*********************/

.menuNav {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    align-items: center;
    &__logo {
        color: $colorThree;
        font-size: 18px;
        font-weight: bold;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        width: 300px;
    }
    &__link {
        color: $colorThree;
        font-size: 18px;
        align-items: center;
        font-weight: bold;
    }
}

.animation-underline {
    position: relative;
    &:after,
    &:before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 2px;
      width: 0;
      background-color: #282828;
      pointer-events: none
    }
    &.light:after,
    &.light:before {
      content: '';
      position: absolute;
      bottom: -3px;
      height: 2px;
      width: 0;
      background-color: #fff;
      pointer-events: none
    }
    &:before {
      left: 0;
      -webkit-transition: width 0s cubic-bezier(.42, .12, .31, .99);
      transition: width 0s cubic-bezier(.42, .12, .31, .99);
    }
    &:after {
     right: 0;
     -webkit-transition: width .4s cubic-bezier(.42, .12, .31, .99);
     transition: width .4s cubic-bezier(.42, .12, .31, .99)
    }
    &:hover:before {
      width: 100%;
      -webkit-transition: width .4s cubic-bezier(.42, .12, .31, .99);
      transition: width .4s cubic-bezier(.42, .12, .31, .99)
    }
    &:hover:after {
      width: 100%;
      background: 0 0;
      -webkit-transition: all 0s cubic-bezier(.42, .12, .31, .99);
      transition: all 0s cubic-bezier(.42, .12, .31, .99)
    }
}

/*********************\
        Hero
\*********************/

.hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    color: $colorThree;
    &__title {
        @extend %H1;
    }
    &__text {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    &__button {
        margin: 1rem 1rem 0 0;
        @include btnPrimary;
        &:hover {
            background-color: transparent;
            transition: 500ms;
        }
    }
    &__button--color {
        @include btnPrimary($border: 2px solid #fff, $background: transparent);
        &:hover {
            background-color: #fff;
            transition: 500ms;
            & > .hero__link--color {
                color: #000;
            }
        }
    }
    &__link {
        &--color {
            color: #fff;
        }
    }
    &__img {
        position: relative;
    }
    &__back {
        animation: backRotate 180s infinite both;
    }
    &__pig {
        position: absolute;
        left: 2rem;
        top: 3rem;
    }
}

@keyframes backRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px){
    .hero {
        display: flex;
        flex-direction: column;
        height: 100vh;
        &__container {
            text-align: center;
            padding-block: 3rem;
        }
        &__title {
            font-size: 2rem;
        }
        &__text {
            font-size: 1rem;
        }
        &__img {
            width: 100%;
        }
        &__back, &__pig {
            width: inherit;
        }
        &__pig{
            left: 0rem;
            top: 1rem;
        }
    }
}

/*********************\
        About
\*********************/

.about {
    color: $colorThree;
    &__title {
        max-width: 1600px;
        margin: auto;
        @extend %H2;
        position: relative;
        &:after {
            content: "";
            width: 3rem;
            height: 0.30rem;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: 1.5rem;
        }
    }
    &__container {
        padding: 5rem;
        max-width: 1600px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }
    &__card {
        text-align: center;
    }
    &__icon {
        margin-bottom: 1.5rem
    }
    &__subtile {
        @extend %H3;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 600px){
    .about {
        &__container {
            display: block;
            padding: inherit;
        }
        &__title {
            padding-inline: 2rem;
            &::after {
                left: 2rem;
            }
        }
        &__card {
            padding-block: 1rem;
        }
    }
}

/*********************\
        Emrys
\*********************/

.emrys {
    background: url(./img/divider.svg);
    background-repeat: no-repeat;
    &__title {
        color: $colorFour;
        @extend %H2;
        padding: 4rem 0 2rem 0;
    }
    &__text {
        margin: 2rem 0;
        padding: 1rem;
        border-left: 4px solid $colorFour;
    }
    &__container {
        display: flex;
        margin: 1rem 1rem 5rem 1rem;
    }
    &__control {
        position: relative;
        height: 3rem;
        margin: 0 2.5rem;
    }
    &__button {
        width: 3rem;
        height: 3rem;
        border: 1px solid #000;
        border-radius: 0.5rem;
        background-color: #fff;
        position: absolute;
        z-index: 2;
        &--shadow {
            width: 3rem;
            height: 3rem;
            background-color: $colorFour;
            border-radius: 0.5rem;
            position: absolute;
            top: -4px;
            left: 4px;
            z-index: 1;
            transform: rotate(0deg);
        }
        &:hover ~ &--shadow {
            transform: rotate(-360deg);
            transition: transform 0.75s;
        }
    }
}

.part {
    background-color: $colorSecondary;
}

.tree {
    background-color: $colorPrimary;
}

.card{
    background-color: $colorFive;
}
@media screen and (max-width: 600px){
    .emrys {
        &__container {
            display: flex;
            margin: 0;
        }
        &__control {
            margin: 0 2rem;
        }
    }
}
/*********************\
        Shop
\*********************/

.shop {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 47vh;
    &__img-shop {
        border: 8px solid $colorSecondary;
        border-left: 0;
        border-radius: 0px 10px 10px 0;
        position: absolute;
        z-index: 2;
    }
    &__img-dot {
        position: absolute;
        left: 16rem;
        top: 3rem;
        z-index: 1;
    }
    &__card {
        width: 55vw;
    }
    &__title {
        @extend %H2;
        color: $colorFour;
        margin-bottom: 2rem;
    }
    &__description {
        padding-left: 5rem;
    }
    &__subtile {
        @extend %H3;
        color: $colorFour;
        margin-bottom: 1rem;
    }
    &__text {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 600px){
    .shop {
        display: block;
        height: inherit;
        &__container {
            height: 15rem;
            padding: 3rem 0 0 0;
        }
        &__img-shop {
            width: 250px;
        }
        &__img-dot {
            left: 8rem;
            top: 5.5rem;
            width: 150px;
        }
        &__card {
            width: inherit;
        }
        &__description {
            padding: 0;
        }
    }
}

/*********************\
        Partners
\*********************/

.partners {
    max-width: 1000px;
    color: $colorThree;
    margin: 5rem auto;
    &__card {
        display: flex;
        border-radius: 10px;
        background: rgb(104,176,171);
        background: linear-gradient(346deg, rgba(104,176,171,1) 39%, rgba(68,109,246,1) 100%);
    }
    &__content {
        padding: 2rem;
        text-align: right;
    }
    &__title {
        @extend %H2;
        margin-bottom: 1.5rem;
        text-align: left;
    }
    &__text {
        margin-bottom: 1rem;
        text-align: left;
    }
    &__button {
        @include btnPrimary ($border: 2px solid #fff);
        &:hover {
            background-color: transparent;
            transition: 500ms;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: auto;
    }
    &__square{
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 600px){
    .partners {
        &__card {
            display: block;
        }
        &__container {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
}

/*********************\
        Subscribe
\*********************/

.subscription {
    background: rgb(104,176,171);
    background: linear-gradient(346deg, rgba(104,176,171,1) 39%, rgba(68,109,246,1) 100%);
    padding: 2rem 2rem 3rem 2rem;
    &__title {
        @extend %H2;
        color: #fff;
        padding-bottom: 1rem;
        position: relative;
        &:after {
            content: "";
            width: 3rem;
            height: 0.30rem;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: 1.5rem;
        }

    }
    &__back {
        width: 900px;
        height: 200px;
        border-radius: 5px;
        background-color: #ffffff70;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        @include btnPrimary ($border: 2px solid #fff);
        &:hover {
            background-color: transparent;
            transition: 500ms;
        }
    }
}
@media screen and (max-width: 600px){
    .subscription {
        &__back {
            width: inherit;
        }
    }
}

/*********************\
        footer
\*********************/

.footer {
    background-color: $colorFooter;
    color: #fff;
    padding: 2rem;
    &__title {
        @extend %H4;
        position: relative;
        &:after {
            content: "";
            width: 3rem;
            height: 0.30rem;
            position: absolute;
            background-color: #fff;
            left: 0;
            top: 1.5rem;
        }
    }
    &__container {
        max-width: 1550px;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
    }
    &__contact {
        padding-top: 2rem;
    }
    &__button {
        @include btnPrimary ($border: 2px solid #fff);
        margin-top: 1rem;
        &:hover {
            background-color: transparent;
            transition: 500ms;
            & > .footer__email {
                color: #fff;
            }
        }
    }
    &__info {
        margin-top: 1rem;
        font-size: 0.80rem;
    }
    &__item {
        margin-top: 1rem;
    }
    &__link {
        color: #fff;
    }
    &__coopyright {
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .footer {
        &__container {
            display: block;
        }
    }
}