@charset "UTF-8";
/**
create by : Jérémie Permentier
|
|
|___styles
    |____ reset
    |____ custom // styles creater for the application   
    |____ fonts
    |____ background
    |____ layout
*/
/*********************\
        reset
\*********************/
body, p, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

button {
  appearance: none;
  padding: inherit;
  border: none;
}

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.emrys__title, .about__title {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.about__subtile {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

/*********************\
        Fonts
\*********************/
body, a {
  font-family: "Josefin Sans", sans-serif;
}

/*********************\
        Background
\*********************/
header, .about {
  background: #446DF6;
}

/*********************\
        Layout
\*********************/
body {
  max-width: 1920px;
}

.container {
  max-width: 1600px;
  margin: auto;
}

/*********************\
        Nav
\*********************/
.menuNav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
}
.menuNav__logo {
  color: #F2F7F2;
  font-size: 18px;
  font-weight: bold;
}
.menuNav__container {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.menuNav__link {
  color: #F2F7F2;
  font-size: 18px;
  align-items: center;
  font-weight: bold;
}

/*********************\
        Hero
\*********************/
.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 93vh;
  color: #F2F7F2;
}
.hero__text {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hero__button {
  margin: 1rem 1rem 0 0;
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #000;
  border-radius: 1.5rem;
  background: #FFF;
  color: #000;
  font-weight: bold;
  cursor: pointer;
}
.hero__button--color {
  width: 9.5rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1.5rem;
  background: transparent;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.hero__img {
  position: relative;
}
.hero__back {
  animation: backRotate 180s infinite both;
}
.hero__pig {
  position: absolute;
  left: 2rem;
  top: 3rem;
}

@keyframes backRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*********************\
        About
\*********************/
.about {
  color: #F2F7F2;
}
.about__title {
  max-width: 1600px;
  margin: auto;
}
.about__container {
  padding: 5rem;
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
.about__card {
  text-align: center;
}
.about__icon {
  margin-bottom: 1.5rem;
}
.about__subtile {
  margin-bottom: 2rem;
}

/*********************\
        Emrys
\*********************/
.emrys {
  background: url(./img/divider.svg);
  background-repeat: no-repeat;
}
.emrys__title {
  color: #284092;
  padding: 4rem 0 2rem 0;
}
.emrys__text {
  margin: 2rem 0;
  padding: 1rem;
  border-left: 4px solid #284092;
}
.emrys__container {
  display: flex;
  margin: 1rem 1rem 5rem 1rem;
}
.emrys__control {
  position: relative;
  height: 3rem;
  margin: 0 2.5rem;
}
.emrys__control:nth-child(3n) {
  background-color: red;
}
.emrys__button {
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
  background-color: #fff;
  position: absolute;
  z-index: 2;
}
.emrys__button--shadow {
  width: 3rem;
  height: 3rem;
  background-color: #284092;
  border-radius: 0.5rem;
  position: absolute;
  top: -4px;
  left: 4px;
  z-index: 1;
  transform: rotate(0deg);
}
.emrys__button:hover ~ .emrys__button--shadow {
  transform: rotate(-360deg);
  transition: transform 0.75s;
}

.part {
  background-color: #68B0AB;
}

.tree {
  background-color: #446DF6;
}

.card {
  background-color: #CFA6F0;
}

/*# sourceMappingURL=style.css.map */
